.custombtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 15px;
  padding: 0px 15px;
  height: 3rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  top: 10px;
  gap: 5px;
}

.custombtn:hover {
  transform: scale(1.1);
}

.align-right {
  right: 10px;
}
.align-left {
  left: 10px;
}
.background-blue {
  background-color: rgb(0, 153, 255);
}
.background-grey {
  background-color: #575757;
}
