/* Asegurando que el body ocupe toda la pantalla */
html,
body {
  height: 100%;
  margin: 0; /* Eliminamos márgenes por defecto */
}

/* Fondo de pantalla */
body {
  background-image: url(../../public/Fondo3.png);
  background-size: cover; /* Hace que la imagen ocupe toda la pantalla */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen */
  background-attachment: fixed; /* Hace que la imagen de fondo no se mueva al hacer scroll */
}

/* Estilo para el contenedor del título y la lista de Pokémon */
#title,
#pokemonList {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

#title {
  height: 15%;
  width: 100%;
}

#title > img {
  overflow: hidden;
  height: 10em;
  width: 100%;
}

#pokemonList {
  height: 85%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}
