/* Asegurando que el body ocupe toda la pantalla */
html,
body {
  margin: 0; /* Eliminamos márgenes por defecto */
}

/* Fondo de pantalla */
body {
  background-image: url(../../public/Fondo3.png);
  background-size: cover; /* Hace que la imagen ocupe toda la pantalla */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen */
  background-attachment: fixed; /* Hace que la imagen de fondo no se mueva al hacer scroll */
}

/* Estilo para el contenedor del título y la lista de Pokémon */
#title,
#pokemonList {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

/* Hacemos que el título se quede fijo en la parte superior */
#title {
  position: fixed; /* Fija el título en la parte superior */
  top: 0; /* Alinea el título en la parte superior */
  left: 0; /* Alinea el título a la izquierda */
  width: 100%; /* Asegura que ocupe todo el ancho */ /* Fondo semitransparente para que se vea bien sobre el fondo */
  z-index: 10; /* Asegura que el título quede encima de otros elementos */
}

#title > img {
  overflow: hidden;
  height: 8em;
  width: 100%;
}

/* Ajustamos el área donde está la lista de Pokémon para que no quede cubierta por el título fijo */
#pokemonList {
  margin-top: 10em; /* Espacio suficiente para que la lista no quede oculta debajo del título fijo */
  height: auto; /* Permite que la lista de Pokémon ocupe el resto del espacio disponible */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}
