html,
body {
  margin: 0; /* Eliminamos márgenes por defecto */
  height: 100%; /* Asegura que ocupe toda la pantalla */
}

/* Fondo de pantalla */
body {
  background-image: url(../../public/img/pokeball.svg);
  background-repeat: repeat; /* Repite la imagen */
  background-size: 7rem; /* Ajusta el tamaño del área de repetición */
  background-color: #2f4659;
  background-position-x: center;
}

/* El header no es sticky ahora */
#header {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

#title > img {
  height: 8em;
  width: auto;
}

.filtersVisibleIndicator {
  color: white;
  font-size: larger;
}

/* Estilo base para los filtros */
#filters {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow-y: auto;
  transition: padding 0.3s ease; /* Transición suave para el padding */
}

/* Padding cuando el header es visible */
.filters-header-visible {
  padding-bottom: 10px;
}

/* Padding cuando el header no es visible */
.filters-header-hidden {
  padding-top: 50px;
  background: linear-gradient(to bottom, #490ca7cf, #efff0000);
}

#header {
  background: linear-gradient(to bottom, #490ca7cf, #efff0000);
}

/* Hacer scroll en el header cuando el ancho es pequeño */
@media (max-width: 768px) {
  #filters {
    max-height: 60vh; /* Limita la altura de los filtros */
    overflow-y: auto; /* Permite scroll dentro de los filtros */
  }
}
#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
}

.listContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.separation-container {
  display: flex;
  align-items: center;
  border-left: 2px solid white;
  padding-left: 8px;
  margin-left: 5px;
  height: 3.5em;
  gap: 10px;
  width: 1rem;
  justify-content: center;
  align-items: center;
  justify-items: normal;
}
