/* Asegurando que el body ocupe toda la pantalla */

html,
body {
  margin: 0; /* Eliminamos márgenes por defecto */
}
/* Fondo de pantalla */
body {
  background-image: url(../../public/img/Fondo.png);
  background-size: cover; /* Hace que la imagen ocupe toda la pantalla */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen */
  background-attachment: fixed; /* Hace que la imagen de fondo no se mueva al hacer scroll */
}
/* Estilo para el contenedor del título y la lista de Pokémon */
#title,
#pokemonList {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

/* Hacemos que el título se quede fijo en la parte superior */
#title {
  margin: 5vh 0 0;
  position: relative; /* Fija el título en la parte superior */
  top: 0; /* Alinea el título en la parte superior */
  left: 0; /* Alinea el título a la izquierda */
  width: 100%; /* Asegura que ocupe todo el ancho */ /* Fondo semitransparente para que se vea bien sobre el fondo */
}

#title > img {
  overflow: hidden;
  height: 8em;
  width: 100%;
}

#listContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
