.menu {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  top: 10px;
  width: 98%;
  margin: 0 1%;
}
button.disabled {
  background-color: #5b5a5b; /* Fondo oscuro */
  box-shadow: none; /* Elimina sombras */
  pointer-events: none;
  cursor: not-allowed;
}
