/* Ajustamos el área donde está la lista de Pokémon para que no quede cubierta por el título fijo */
#pokemonList {
  height: auto; /* Permite que la lista de Pokémon ocupe el resto del espacio disponible */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}
