/* Contenedor principal para el filtro y la lista de Pokémon */
.pokemon-page {
  display: flex;
  flex-direction: column; /* Para dispositivos pequeños: en columna */
  align-items: center; /* Centra todo en dispositivos pequeños */
  margin: 20px;
  gap: 20px; /* Espaciado entre filtro y lista */
}

@media (min-width: 768px) {
  /* Para pantallas más grandes: muestra en filas */
  .pokemon-page {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Contenedor de la lista de Pokémon */
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Diseño responsive */
  gap: 15px; /* Espaciado entre tarjetas */
  width: 100%;
  max-width: 1200px;
}
