/* Contenedor para los botones de filtro */
#filter-buttons {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se ajusten en varias filas si es necesario */
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 10px;
  padding: 10px; /* Espaciado alrededor */
  width: 90%;
}

/* Estilos de los botones de filtro */
#filter-buttons button {
  background-color: rgba(0, 123, 255, 0.8); /* Azul por defecto */
  color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-transform: capitalize; /* Para poner la primera letra en mayúsculas */
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

/* Cambiar color del botón al pasar el ratón */
#filter-buttons button:hover {
  background-color: rgba(0, 123, 255, 1);
  transform: scale(1.1);
}

/* Estilo para el botón activo */
#filter-buttons button.active {
  background-color: rgba(0, 100, 200, 1); /* Azul más oscuro */
  border: 5px solid #b990ff;
  color: #ffe700; /* Amarillo vibrante */
}
