/* PokemonSearch.css */

.search-container {
  margin: 0px auto 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-container {
  position: relative; /* Esto asegura que el botón se posicione dentro del contenedor */
}

.search-input {
  width: 70vw;
  height: 7vh;
  border: 2px solid #ccc;
  outline: none;
  padding: 0 10px 0 10px; /* Agregamos padding para el texto y para el botón */
  border-radius: 2rem;
  background: #2b2f2e;
  color: #ffc65a;
  font-size: 2em;
  font-family: monospace;
  transition: border-color 0.3s ease-in-out;
  padding: 0 1.5rem;
}

.search-input:focus {
  border-color: #ffc65a;
}

.search-input::placeholder {
  color: #aaa;
  font-style: italic;
}

.clear-button {
  background: none;
  border: none;
  font-size: 18px;
  color: #ffc65a;
  cursor: pointer;
  position: absolute; /* Alineamos el botón dentro del input */
  right: 1.5rem;
  top: 50%; /* Centrado verticalmente */
  transform: translateY(
    -50%
  ); /* Para que se ajuste correctamente en el medio */
}
