/* Contenedor de la carta */
.pokemon-card-container {
  min-width: 325px; /* Ajuste el ancho a 300px */
  height: 36rem;
  perspective: 1000px;
  position: relative; /* Necesario para alinear las caras dentro del contenedor */
}

/* Estado volteado */
.pokemon-card-container.flipped .front {
  transform: rotateY(180deg);
}

.pokemon-card-container.flipped .back {
  transform: rotateY(0deg);
}
