.generation-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generation-checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.generation-item {
  display: inline-block;
  border-radius: 8px; /* Bordes redondeados para el contenedor de la imagen */
  padding: 5px; /* Espacio entre el borde y la imagen */
  border: 2px solid transparent; /* Borde transparente por defecto */
  transition: border 0.3s ease;
}

.generation-image {
  width: 90px; /* Tamaño de las imágenes actualizado a 90px de ancho */
  object-fit: contain; /* Asegura que la imagen no se distorsione */
  background-color: transparent; /* Fondo transparente, para que no haya un fondo blanco */
}

.generation-item.selected > img {
  border: 4px solid yellow; /* Borde amarillo cuando está seleccionada */
  border-radius: 18px;
}

.generation-buttons {
  margin-top: 20px; /* Espacio entre los botones y las imágenes */
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.show-all-button {
  background-color: #2196f3; /* Botón "All" con color azul */
  margin-top: 10px;
}

.show-all-button:hover {
  background-color: #0b7dda; /* Color más oscuro para el hover */
}
